/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

ul{
    list-style-type: none;
}

html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}


/* ROOT */
:root{
    --footer-height: 130px;
    --header-height: 100px;
    --sidebar-width: 300px;


}

/* COMMON */

.flex{
    display: flex;
}

/* layout */
.wrapper{
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    height: calc(100% - var(--footer-height));
}

nav{
    width: var(--sidebar-width);
    height: 100%;
    background-color: black;
    padding: 1.3rem;
    color: grey;
    position: relative;
    flex-direction: column;
}

section{
    width: calc(100% - var(--sidebar-width));
}

.cta{
    width: 100%;
    background-color: #080b12;
    height: 100px;
    color: grey;
}

.album{
    height: calc(100% - 100px);
    background-color: #141922;
    width: 100%;
    overflow-y: auto;

}

footer{
    height: var(--footer-height);
    width: 100%;
    background-color: #282828;
}



/* NAVIGATION BAR / SIDEBAR */

.logo{
    height: var(--header-height);
}

.home{
    height: 200px;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.home *{
    margin-top: 0.5rem;
}

.playlist *{
    font-size: 1.3rem;
    margin-top: 20px;
}

.playlist i{
    font-size: 3rem;
}

.playlist .li-special{
    align-items: center;
}
.user{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 80%;
}

.user *{
    margin-top: 1rem;
}

.user img{
    background-color: grey;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

/* HEADER */
.cta{
    justify-content: flex-end;
    align-items: center;
}

.cta a{
    margin-right: 1rem;
    padding: 1rem 3rem;
    display: block;
    border: 2px solid grey;
    border-radius: 50px;
}

/* ALBUM SECTION */
.album{
    padding: 2rem;
}
.explore{
    width: 100%;
}

.list-explore{
    color: grey;
    justify-content: center;
    padding-top: 2rem;
    font-weight: bold;
}

.list-explore li{
    margin-right: 1.5rem;

}

/* recently played */
.recently-played,
.created-for-you,
.popular-artist{
    margin-top: 3rem;
}

.recently-played .row{
    flex-wrap: wrap;
    gap: 1rem;
}

.recently-played .col{
    margin-top: 1rem;
    text-align: center;
    width: calc(100% / 6 - 1rem);
}

.recently-played .col *{
    margin-bottom: 1rem;
}

.recently-played h2, h4{
    color: white;
}

.recently-played p{
    color: grey;
}

/* created-for-you */
.created-for-you .col{
    margin-top: 1rem;
    text-align: center;
}

.created-for-you .col *{
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.created-for-you h2, h3{
    color: white;
}

.created-for-you p{
    color: grey;
    margin-top: 1rem;
}

/* popular artist */
.popular-artist .col{
    margin-top: 1rem;
    text-align: center;
}

.popular-artist .col *{
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.popular-artist h2, h3{
    color: white;
}

.popular-artist p{
    color: grey;
    margin-top: 1rem;
}

.popular-artist img{
    border-radius: 50%;
}

/* FOOTER */

.song{
    padding: 1rem;
    justify-content: space-between;
    color: white;
    height: var(--footer-height);
}
.song img{
    height: 70px;
    width: 70px;
}
/* SONG NAME */

.song-name {
    align-items: center;
}

.song-name .text{
    margin-left: 1rem;
}
.song-name .text p{
    color: grey;
}


.song-name .icons i{
    margin-left: 1rem;
    color: grey;
    font-size: larger;
}

.song-name .icons{
    margin-left: 3rem;
}


/* START STOP */

.start-stop{
    width: 40%;
}

.start-stop .icons{
    text-align: center;
    
}

.start-stop .icons i{
    font-size: 2rem;
    margin: 0 1rem
}


.bar-container{
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.bar-container *{
    margin-right: 1rem;
}

.bar-container .bar{
    width: 80%;
    background-color: grey;
    height: 5px;
}

.progress {
    width: 20%;
    height: 5px;
    background-color: white;
}

/* VOLUME */

.volume{
    align-items: center;

}

.wrapper-volume{
    width: 300px;
    justify-content: center;
    align-items: center;

}

.wrapper-volume *{
    margin-right: 1rem;
}

.wrapper-volume .bar{
    width: 200px;
    background-color: grey;
    height: 5px;
}









/* RESPONSIVE */
@media screen and(max-width: 1100px) {
    
}


@media screen and(max-width: 700px){
    
}


@media screen and(max-width: 600px) {
    nav{
        width: 80px;
    }
}