/* RESET */
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

/* COMMON */
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
}

img{
    max-width: 100%;
}

a{
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    height: 100vh;
    width: 100%;
    /* debug */
    background-color: violet;
}

/* flex */
.flex{
    display: flex;
}

/* margin */
.mt-1{
    margin-top: 1rem;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

.mt-4{
    margin-top: 4rem;
}

.mb-1{
    margin-bottom: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-3{
    margin-bottom: 3rem;
}

.mb-4{
    margin-bottom: 4rem;
}
/* /margin */


/* /COMMON */

/* MAIN */
.wrapper-main{
    background-color: yellow;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.side-bar{
    background-color: aqua;
    width: 400px;
    height:100%;
}

/* /MAIN */

/* PLAYER */
.player{
    background-color: black;
    height: 100px;
}
/* /PLAYER */







/* MEDIA QUERY */
/* SMALL DESKTOP (1100PX) */
@media screen and (max-width:1100px) {
    
}
/* /SMALL DESKTOP (1100PX) */



/* TABLET (700PX) */
@media screen and (max-width:700px){

}
/* TABLET (700PX) */



/* MOBILE (600PX) */
@media screen and (max-width:600px){

   
}
/* /MOBILE (600PX) */